.wrapper-booking-room{
    width: 95vw;
    height: 144px;
    z-index: 100;
    background-color: #E6E6E6;
    color: #FFFFFF;
    display: flex;
    justify-content: space-around;
    border-radius: 4px;
    margin: 10px auto;
    &-left{
        display: flex;
        flex-direction: column;
        &-input{
            background-color: #E6E6E6;
            color: #505050;
            margin: 12px 0;
            border: none;
            border-bottom: 1.5px solid #686767;
            font-size: 20px;
            width: 150px;
            &:focus{
                border: none;
                color: #505050;
            }
        }
    }
    &-right{
        display: flex;
        flex-direction: column;
        margin: 12px 0;
        &-img{
            z-index: 2;
            margin: 5px 7px;
            position: absolute;
        }
        &-text{
            margin: 20px 0;
            font-family: 'Inter', sans-serif;
            font-weight: 300;
            color: #505050;
        }
    }
    &-important{
        position: absolute;
        margin-top: 95px;
        width: inherit;
        color: rgb(175, 47, 47);
        font-family: 'Inter', sans-serif;
        font-size: 12px;
        left: 0;
        right: 0;
        text-align: center;
        display: block;
        &-true{
            display: none;
        }
    }
    &-addbtn{
        position: absolute;
        width: inherit;
        height: 35px;
        margin-top: 116px;
        text-align: center;
        background-color: #1B1B1B;
        color: #ffffff;
        border-radius: 0 0 4px 4px;
        font-size: 17px;
        font-family: 'Inter', sans-serif;
        font-weight: 400;
        letter-spacing: -1px;
        line-height: 30px;
        &:hover{
            background-color: #302f2f;
            cursor: pointer;
        }
        &-plus{
            margin: 0 10px;
        }
    }
}