@import url("https://fonts.googleapis.com/css2?family=Italiana&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;500;900&display=swap');
:root {
  --white: #ffffff;
  --light-gray: #e1e1e1;
  --light-blue: #99eeff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100&display=swap");

body {
  min-height: 100vh;
  max-width: 100vw;
}
// global styles here, do not use it often!

// ::-webkit-scrollbar {
//   width: 7px;
// }

// ::-webkit-scrollbar-track {
//   box-shadow: inset 0 0 5px rgba(255, 255, 255, 0);
// }

// ::-webkit-scrollbar-thumb {
//   background: rgb(224, 213, 191);
//   border-radius: 10px;
// }