<footer class="footer">
    <h3 class="footer-text">Hotel Esperia</h3>
    <hr class="footer-line">
    <div class="footer-icons">
        <img class="footer-icon" src="../../../assets/imgs/facebook.png" alt="fb_logo">
        <img class="footer-icon" src="../../../assets/imgs/instagram.png" alt="instagram_logo">
        <img class="footer-icon" src="../../../assets/imgs/book.png" alt="book_logo">
    </div>
    <div class="footer-contact">
        <p>Olimpou 58,<br> Thessaloniki 546 31</p>
        <p>Phone:<br> 231 026 9321</p>
    </div>
</footer>
